.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  & > * {
    border-radius: 5px;
  }

  & > input {
    height: 40px;
    padding-left: 20px;
    border: none;
  }

  & > button {
    height: 50px;
    margin-top: 40px;
    background-color: #ffd726;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  h2 {
    margin: 0;
    color: #ffffff;
    line-height: 42px;
    font-size: 16px;
  }
}

h2.first-player {
  text-align: center;
}
